{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'crm.css' %}">
</head>

<body>
    {% block content %}
    <form action="{% url 'crm_insert' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <h1>Поделитесь с братьями и сестрами своим впечатлением!</h1>
            <div class="form">
                <input type="email" class="form-control" name="email_fb" placeholder="name@example.com">
                <textarea class="form-control" name="text_fb" rows="7" placeholder="Напишите здесь о своих впечатлениях"></textarea>
                <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="alertFunction()">Отправить
                    отзыв</button>
            </div>
        </div>
        <script>
            function alertFunction() {
                alert("Спасибо! Ваш отзыв записан!", "Спасибо за отзыв!");
            }
        </script>
</body>
{% endblock %}

</html>