{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="static/bell.png" alt="Колокол">
                <p>Колокол</p>
            </div>
            <div class="search">
                Поиск мест и событий
            </div>
            <div class="contacts">
                <p>7 925 890 87 88</p>
                <p>kolokol1@yandex.ru</p>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <nav>
                <span>Главная</span>
                <span>Новости</span>
                <span>События</span>
            </nav>
            <div class="slider">
                <img src="static/news.png" alt="новость">
                <div class="points">
                    <img src="static/eltrue.png" alt="точка">
                    <img src="static/elfalse.png" alt="точка">
                    <img src="static/elfalse.png" alt="точка">
                    <img src="static/elfalse.png" alt="точка">
                </div>
            </div>
            <div class="feedback">
                <a href="{% url 'crm' %}">Оставьте свой отзыв!</a>
            </div>
        </div>
    </main>
</body>

</html>